button {
    color: #526D82;
    font-size: 20px;
    outline: none;
    border: solid 2px #526D82;
    padding: 6px 12px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}